:root {
  --background: #333333;
  --nav: #05697c;
  --letters: #d4d4d4;
  --privateBack: #68a7ac;
  --privateLet: #303030;
  --correct: #016736;
  --wrong: #a03035;
  --shaddow1: rgba(0, 0, 0, 0.75);
  --shaddow2: rgba(0, 0, 0, 0.386);
}

input {
  border-radius: 0;
}

input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--letters);
  overflow-x: hidden;
}

body {
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  background-color: var(--nav);
  box-shadow: 0px 0px 10px 0px var(--shaddow1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

nav > ul {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: 33.333vw 33.333vw 33.333vw;
}

nav > ul > li {
  width: calc(100vw / 3);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > ul > li > a {
  padding: 20px;
  margin: 10px;
}

p {
  cursor: default;
}

a {
  text-decoration: none;
}

nav input {
  background: none;
  border: none;
  outline: none;
  border-bottom: var(--letters) 1px solid;
}

nav input::placeholder {
  color: var(--letters);
}

.subjectIndex {
  background-color: var(--nav);
  box-shadow: 0px 5px 10px 0px var(--shaddow2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin: 20px 5vw 20px 5vw;
  padding: 20px;
  transition: transform 0.2s;
}

.subjectIndex:hover {
  transform: scale(1.05);
}

.subjectIndex > * {
  margin: 0 10px;
}

.loginForm {
  background-color: var(--nav);
  box-shadow: 0px 5px 10px 0px var(--shaddow2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin: 5vw;
  padding: 20px;
}

.loginForm > div {
  display: flex;
  font-size: small;
  margin: 10px;
}

.loginForm > div > * {
  padding: 5px;
}

.loginForm > div > input {
  background: none;
  border: none;
  outline: none;
  border-bottom: var(--letters) 1px solid;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  outline: none;
  border-bottom: var(--letters) 1px solid;
  -webkit-text-fill-color: var(--letters);
  box-shadow: 0 0 0px 1000px var(--nav) inset;
}

.loginForm > input {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: xx-large;
  border-bottom: var(--letters) 1px solid;
  transition: transform 0.2s;
}

.loginForm > input:hover {
  transform: scale(1.1);
}

h1 {
  text-align: center;
}

.mainH1 {
  margin: 20px;
}

.subjectBody {
  display: grid;
  grid-template-columns: 100vw;
}

.subjectBodyInside {
  background-color: var(--nav);
  box-shadow: 0px 5px 10px 0px var(--shaddow2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  transition: transform 0.2s;
}

.subjectBodyInside * {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subjectBodyInside:hover {
  transform: scale(1.05);
}

.subjectBodyInside > ul {
  display: flex;
}

.subjectBodyInside > ul > li > a {
  text-decoration: underline;
  padding: 0px 5px;
}

.listQ,
.excQ,
.listecQ {
  background-color: var(--nav);
  box-shadow: 0px 5px 10px 0px var(--shaddow2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin: 20px 5vw 20px 5vw;
  padding: 20px;
}

.listQ > *,
.excQ > * {
  margin: 5px;
}

.excQ > form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.excQ > form > input{
  background: none;
  border: none;
  outline: none;
  border-bottom: var(--letters) 1px solid;
  font-size: large;
}

.excQ input[type="submit"] {
  cursor: pointer;
}

.hidden {
  display: none;
}

.correct {
  color: var(--correct);
}

.wrong {
  color: var(--wrong);
}

body > input[type="submit"] {
  background: var(--nav);
  box-shadow: 0px 5px 10px 0px var(--shaddow2);
  width: 90vw;
  margin: 20px 5vw 20px 5vw;
  padding: 20px;
  transition: transform 0.2s;
  border: none;
  cursor: pointer;
}

.listQ > input {
  background: none;
  border: none;
  outline: none;
  border-bottom: var(--letters) 1px solid;
  outline: none;
  font-size: large;
}

body > input[type="submit"]:hover {
  transform: scale(1.05);
}

.private {
  background: var(--privateBack);
  color: var(--privateLet);
}

.private > form > input,
.private > input {
  border-bottom: var(--privateLet) 1px solid;
  color: var(--privateLet);
}

.private p,
.private h1,
.private h2,
.private h3,
.private a {
  color: var(--privateLet);
}

.formPart {
  padding: 20px;
}

.formPart > input {
  background: none;
  border: none;
  outline: none;
  border-bottom: var(--privateLet) 1px solid;
  font-size: large;
  color: var(--privateLet);
}

.createForm > input[type="submit"] {
  border: none;
}

.createForm {
  flex-direction: column;
}

.delete {
  background-color: var(--wrong);
}