{% extends "app.html" %}

{% block title %}
    Bona fide - New lesson
{% endblock title %}

{% block content %}
      
    <h1 class="mainH1"> Create lesson in "{{ sub.title }}"</h1>

    <div class="excQ private">
        
        {% if message %}
          <p>{{ message }}</p>
        {% endif %}
        
        <form action="" autocomplete="off" method="post" class="createForm">

            {% csrf_token %}
            <div class="formPart">
                <p>Name:</p>
                <input type="text" name="subjectName" class="inp" required>
            </div>

            <div class="formPart">
                <p>Description:</p>
                <input type="text" name="subjectDescription" class="inp" required>
            </div>

            <input type="submit" class="btn" value="Save">
        </form>

    </div>

{% endblock content %}