{% extends "app.html" %}

{% block title %}
    Bona fide
{% endblock title %}

{% block content %}

    <a href=" {% url 'privateSC' %} " class="subjectIndex private">
        <h1> + Create new subject </h1>      
    </a>

    {% for subject in privateSubjects %}
        
    <a href=" {% url 'privateSubject' subject.id %} " class="subjectIndex private">
        <h1>{{ subject.title }}</h1>
        <p>{{ subject.description }} </p>     
    </a>
        
    {% endfor %}

    {% for subject in subjects %}
      
    <a href=" {% url 'subject' subject.id %} " class="subjectIndex">
        <h1>{{ subject.title }}</h1>
        <p>{{ subject.description }} </p>       
    </a>
        
    {% endfor %}

    <a class="subjectIndex">
        <h1>Co se planuje za vylepseni:</h1>
        
        <ul>
            <li>
                <p> - test se bude moct delat z vice hodin teoreticky i predmetu stejne tak i cvicdeni a listovani</p>
            </li>
            <li>
                <p>- at funguje search vsude nebo at tam kde nefunguje neni</p>
            </li>
            <li>
                <p>- lepsi navigace</p>
            </li>
            <li>
                <p>- mnohem lepsi prostredi pro uzivatele (zmena hesla, prezdivky atd...)</p>
            </li>
            <li>
                <p>- mit hezci errormessages</p>
            </li>
            <li>
                <p>- vase napady rikejte me a ja se je pokusim udelat :) </p>
            </li>
        </ul>       
    </a>
  
{% endblock content %}