
<nav>
    <ul>
        <li id="left">
            {% if num %}
              <a href="{% url address num%}">
            {% else %}
                <a href="{% url address %}">
            {% endif %}
            
                <span class="material-symbols-outlined">
                    arrow_back_ios
                </span>
            </a><a href="{% url 'index' %}"> Home </a>
        </li>
        <!-- <li>
            <form action="" method="get"  autocomplete="off">
                <input type="text" name="search" placeholder="search...">
            </form>
            
        </li> -->
        <li>

        </li>
        <li id="right">
            {% if request.user.is_authenticated %}

                <p> {{ request.user.username }} </p> 

            {% endif %}
            {% if request.user.is_authenticated %}

                <a href="{% url 'log-out' %}">Log-out</a>

            {% endif %}

        </li>
    </ul>
</nav>
    