{% extends "app.html" %}
{% load static %}

{% block title %}
    Bona fide - test - {{ test.title }}
{% endblock title %}

{% block content %}

    {% for question in questions %}

        <div class="listQ private">
            <h1>{{ question.title }}</h1>
            <p>{{ question.description }}</p>
            <input type="text" name="testInp">
            <h4 class="hidden">{{ question.answer }}</h4>
        </div>
        
        {% endfor %}
        
        <input type="submit" value="Check" class="btn">

        <div class="listecQ hidden private">
            <h2 class="correct">Answers correct:</h2>
            <h4 class="correct">0</h4>
            <h2 class="wrong">Answers incorrect:</h2>
            <h4 class="wrong">0</h4>
            <div class="flexRow">
                <h3 class="grade">0</h3>
                <h2>|</h2>
                <h3 class="percentage">0%</h3>
            </div>
        </div>

        <script src="{% static 'js/test_page.js' %}"></script>

{% endblock content %}