{% extends "app.html" %}

{% block title %}
    Bona fide - {{ subject.title }}
{% endblock title %}

{% block content %}
      
    <h1 class="mainH1">{{ subject.title }} - {{ subject.description }} | {{ subject.lesson_set.all.count }}</h1>

    <div class="subjectBody">

        {% for lesson in subject.lesson_set.all %}
        
        <div class="subjectBodyInside">
            <h1>{{ lesson.title }}</h1>
            <p>{{ lesson.created|date:"d-m-Y" }}</p>
            <h3>{{ lesson.description }}</h3>
            <ul>
                <li>
                    <a href="{% url 'list' lesson.id %}">List</a>
                </li>
                <li>
                    <a href="{% url 'excercise' lesson.id %}">Excercise</a>
                </li>
                <li>
                    <a href="{% url 'test' lesson.id %}">Test</a>
                </li>
            </ul>
        </div>
            

        {% endfor %}

    </div>

{% endblock content %}